{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": 0
  },
  "globals": {
    "jQuery": true,
    "$": true,
    "d3": true
  },
  "env": {
    "es6": false,
    "browser": true,
    "node": true
  },
}
