body {
  padding-top: 70px;
}
* {
  font-family: 'Ubuntu-R';
}

.axis path,
.axis line {
  fill: none;
  stroke-width: 1.5px;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis {
  stroke-opacity: .8;
}

svg {
  font: 10px sans-serif;
}

.tick line {
  visibility: hidden;
}
.fullWidth{
  width: 100%!important;
}

<<<<<<< HEAD
.navbar-brand {
  padding: 5px 15px;
}
.navbar-brand img {
  width: auto;
  max-height: 100%;
}

ul.list-group.addCountries {
    max-height: 200px;
    overflow-y: auto;
    height: 200px;
    margin-bottom: 0px;
}

.addgraph {
  width: 100%;
  height: 30em;
  background: #F1F1F1;
  text-align: center;
  cursor: pointer;
  border-radius: 1em;
}

.addgraph:last-child {
  margin-bottom: 4em;
}

.addgraph:hover {
  background: #222;
}

.addgraph p {
  color: #C97979;
  padding-top: 1em;
}

.addcross {
  width: 3em;
  margin-top: 13em;

/*#intro {
  margin-bottom: 3em;
}

#checkbox,
#countrybox {
  margin-top: 5em;
  margin-left: 3.5em;
}

#searchbox,
#savebox {
  margin-top: 9em;
  margin-left: 3em;
}

.addgraph {
  margin-top: 2.4em;
}
*/
