body {
    padding-top: 70px;
    font-family: 'Ubuntu-R', sans-serif;
}

#intro {
  margin-top: -1.1em;
}

#intro h1 {
    color: rgb(201, 121, 121);
    margin-bottom: .6em;
}

#intro p {
    color: #6b6666;
    width: 90%;
}

#firstrow {
  margin-top: 2em;
}

#insertGraph {
  margin-top: 6em;
}

.state {
  cursor: help;
}

.graphcontainer {
  margin-top: 2em;
}

.axis path, .axis line {
    fill: none;
    stroke-width: 1px;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis {
    stroke-opacity: .8;
}

svg {
    font: 10px sans-serif;
}

.tick line {
    visibility: hidden;
}

.fullWidth {
    width: 100%!important;
}

ul.maxUlHeight {
    max-height: 200px;
    overflow-y: auto;
    height: 200px;
    margin-bottom: 0px;
    background: #F1F1F1;
}
.tipcontainer{
    padding: 15px 20px;
    margin: 0;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.15);
    border-bottom: 4px solid rgb(201, 121, 121);
}
.lightRed{
    background-color: rgba(201, 121, 121,0.5);
}
.tipcontainer .tooltip-ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.removeButton, .cursor {
    cursor: pointer;
}

.navbar-brand {
    padding: 5px 15px;
    margin-left: 25%;
}

.navbar-brand img {
    margin-top: .4em;
    width: 5em;
}

.addgraph {
    width: 100%;
    height: 30em;
    background: #F1F1F1;
    text-align: center;
    cursor: pointer;
    border-radius: 1em;
    -webkit-box-shadow: 5px 5px 0px -1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 5px 5px 0px -1px rgba(0, 0, 0, 0.15);
    box-shadow: 5px 5px 0px -1px rgba(0, 0, 0, 0.15);
    padding-top: 10px;
}

.graphcontainer {
    margin-bottom: 4em;
}

.noGraph .addgraph:hover {
    opacity: .6;
}
.noGraph .renewGraph{
    display: none;
}
.addgraph p {
    color: #C97979;
    padding-top: 1em;
}

.addcross {
    width: 3em;
    margin-top: 13em;
}

.saveState {
    position: absolute;
    right: 22px;
    top: -5px;
    cursor: pointer;
    display: none;
}

.saveState i {
    border-radius: 100%;
    background-color: #ccc;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    line-height: 52px;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.35);
    padding-left: 4px;
    transition: 200ms all ease-in;
}

.saveState:hover i {
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.65);
    background-color: #C97979;
}

.graphContainer:hover .saveState {
    display: block;
}

.spaceBottomCol {
    margin-bottom: 30px;
}

.showOnHoverGraph {
    z-index: 13;
    position: absolute;
    top: 10px;
    right: 30px;
}

.showOnHoverGraph i {
    font-size: 2em;
    opacity: 0;
    color: rgb(201, 121, 121);
    transition: 200ms all ease-in;
    cursor: pointer;
    z-index: 12;
}

.showOnHoverGraph i:first-of-type {
  font-size: 2.7rem;
}
.showOnHoverGraph i:last-of-type {
  margin-left: 0.8rem;
  font-size: 3.5rem;
}

.info {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(255,255,255,0.85);
    border-radius: 1em;
    padding: 25px 45px;
    height: 100%;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    opacity: 0;
    transition: 200ms all ease-in;
}
.insertGraph:hover .info{
    z-index: 10;
    opacity: 1;
}
.insertGraph:hover .showOnHoverGraph i {
    opacity: 1;
}
.noGraph .info{
    z-index: -1!important;
    opacity: 0!important;
}

.addCanvas {
    cursor: pointer;
    padding-top: 30px;
    padding-bottom: 15px;
    background-color: transparent;
    transition: 200ms all ease-in;
    border-radius: 1em;
    -webkit-box-shadow: 5px 5px 0px -1px rgba(0, 0, 0, 0.0);
    -moz-box-shadow: 5px 5px 0px -1px rgba(0, 0, 0, 0.0);
    box-shadow: 5px 5px 0px -1px rgba(0, 0, 0, 0.0);
}

.addCanvas:hover {
    background-color: #F1F1F1;
    -webkit-box-shadow: 5px 5px 0px -1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 5px 5px 0px -1px rgba(0, 0, 0, 0.15);
    box-shadow: 5px 5px 0px -1px rgba(0, 0, 0, 0.15);
}

.addCanvas img {
    margin: 0 auto;
    display: block;
}

.addCanvas p {
    text-align: center;
    width: 100%;
    margin-top: .6em;
}

.insertGraph .showOnHoverGraph i:hover {
    color: rgb(149, 87, 87);
}

.delCheck {
    cursor: pointer;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollup-container {
    margin-top: -.5em;
    margin-bottom: 1.5em;
}

.scrollup {
    padding: 1.8rem;
    background: #C97979;
    color: #fff;
    border-radius: 100%;
    cursor: pointer;
}

.scrollup:hover {
    opacity: .7;
}

.scrollup p {
    text-align: center;
}

.badge {
  padding: 4px 6.8px;
  background-color: #C97979;
}

.badge:hover {
  opacity: .8;
}

ul.maxUlHeight:nth-child(1) {
  max-height: 235px;
  height: 235px;
}

.fa-refresh {
  margin-right: .2em;
}

/*#intro {
  margin-bottom: 3em;
}

#checkbox,
#countrybox {
margin-top: 5em;
margin-left: 3.5em;
}

#searchbox,
#savebox {
margin-top: 9em;
margin-left: 3em;
}

.addgraph {
margin-top: 2.4em;
}
*/
