
<!DOCTYPE html>
<html lang="nl">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Adyen Fraud Dashboard</title>

    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-select.css" rel="stylesheet">
    <link href="/css/bootstrap-switch.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="/css/font.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="/img/adyen-logo.png" /></a>
            </div>
        </div>
    </nav>

    <div class="container">
<!--         <div class="row">
            <div class="col-lg-12 text-center">
                <hr>
                <div class="btn btn-primary loadReal">LOAD ALL REAL DATA</div>
                <div class="btn btn-primary loadReal-NL">LOAD NL REAL DATA</div>
                <div class="btn btn-primary loadOne">LOAD TEST 1</div>
                <div class="btn btn-primary loadTwo">LOAD TEST 2</div>
                <div class="btn btn-primary loadThree">LOAD TEST 3</div>
                <hr>
            </div>
        </div>
 -->
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6" id="intro">
              <h1>Detecting fraud</h1>
              <p>
                In the following graph you can see what transactions were considered
                fraud. Select a check to get more information about that check and
                to filter the graph to that check. You can select countries, or search for
                a specific email to filter down even further. Use the savestates to load
                your previous filters and the empty 'add graph' fields below to lock your
                graph for comparison.
              </p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <span>Drempelwaarde</span>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" data-value="-10" data-target="#spinner0" data-toggle="spinner">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input type="text" data-ride="spinner" id="spinner0" class="form-control input-number" value="1" data-min="1" data-max="300">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" data-value="10" data-target="#spinner0" data-toggle="spinner" data-on="mousehold">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <span>Check 1</span>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" data-value="-5" data-target="#spinner1" data-toggle="spinner">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input type="text" data-ride="spinner" id="spinner1" class="form-control input-number" value="1" data-min="1" data-max="300">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" data-value="5" data-target="#spinner1" data-toggle="spinner" data-on="mousehold">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <span>Check 2</span>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" data-value="-5" data-target="#spinner2" data-toggle="spinner">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input type="text" data-ride="spinner" id="spinner2" class="form-control input-number" value="1" data-min="1" data-max="300">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" data-value="5" data-target="#spinner2" data-toggle="spinner" data-on="mousehold">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <span>Check 3</span>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" data-value="-5" data-target="#spinner3" data-toggle="spinner">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input type="text" data-ride="spinner" id="spinner3" class="form-control input-number" value="1" data-min="1" data-max="300">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" data-value="5" data-target="#spinner3" data-toggle="spinner" data-on="mousehold">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <span>Check 5</span>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" data-value="-5" data-target="#spinner5" data-toggle="spinner">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input type="text" data-ride="spinner" id="spinner5" class="form-control input-number" value="1" data-min="1" data-max="300">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" data-value="5" data-target="#spinner5" data-toggle="spinner" data-on="mousehold">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <span>Check 6</span>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" data-value="-5" data-target="#spinner6" data-toggle="spinner">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input type="text" data-ride="spinner" id="spinner6" class="form-control input-number" value="1" data-min="1" data-max="300">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" data-value="5" data-target="#spinner6" data-toggle="spinner" data-on="mousehold">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 center">
                        <label for="showTotal">Show total &nbsp; </label>
                        <input type="checkbox" name="showTotal" id="showTotal" data-size="small">
                    </div>
                    <div class="col-xs-12 col-sm-4 center">
                        <label for="averageLine">Average &nbsp; </label>
                        <input type="checkbox" name="averageLine" id="averageLine" data-size="small">
                    </div>
                    <div class="col-xs-12 col-sm-4 center">
                        <label for="fraudEmails">Fraud mail &nbsp; </label>
                        <input type="checkbox" name="fraudEmails" id="fraudEmails" data-size="small">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6 graphContainer">
                <label for="sortGraph">Sort by&nbsp;</label>
                <select class="selectpicker" name="sortGraph" id="sortGraph">
                    <option value="checks">Checks</option>
                    <option value="alert">Alert</option>
                    <option value="denied">Denied</option>
                    <option value="fraud">Fraud</option>
                </select>
                <div class="saveState"><i class="fa fa-save saveIcon"></i></div>
                <div id="insertGraph"></div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <select class="selectpicker fullWidth" id="selectCountries" data-live-search="true" ></select>
                        <ul class="list-group addCountries maxUlHeight"></ul>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <select class="selectpicker fullWidth" id="selectChecks" data-live-search="true" ></select>
                        <ul class="list-group addChecks maxUlHeight"></ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6" id="selectEmailContainer">
                        <select class="selectpicker fullWidth" id="selectEmail" data-live-search="true" ></select>
                        <ul class="list-group addUsers maxUlHeight">
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <ul class="list-group saveStateList maxUlHeight">
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>

        <div class="row graphcontainer">

                    <div class="col-xs-12 col-sm-6 insertGraph noGraph spaceBottomCol">
                        <div class="addgraph">
                            <img class="addcross" src="../../images/addcross.png"/>
                            <p>add graph</p>
                        </div>
                        <div class="showOnHoverGraph center">
                            <i class="fa fa-refresh renewGraph"></i>
                        </div>
                        <div class="info">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 insertGraph noGraph spaceBottomCol">
                        <div class="addgraph">
                            <img class="addcross" src="../../images/addcross.png"/>
                            <p>add graph</p>
                        </div>
                        <div class="showOnHoverGraph center">
                            <i class="fa fa-refresh renewGraph"></i>
                            <i class="fa fa-close delGraph"></i>
                        </div>
                        <div class="info">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 noGraph spaceBottomCol newCanvas">
                        <div class="addCanvas">
                            <img class="addcross" src="../../images/addcross.png"/>
                            <p>new canvas</p>
                        </div>
                    </div>

        </div>
        <div class="hide" id="canvasTemplate">
            <div class="col-xs-12 col-sm-6 insertGraph noGraph spaceBottomCol">
                <div class="addgraph">
                    <img class="addcross" src="../../images/addcross.png"/>
                    <p>add graph</p>
                </div>
                <div class="showOnHoverGraph center">
                    <i class="fa fa-refresh renewGraph"></i>
                    <i class="fa fa-close delGraph"></i>
                </div>
                <div class="info">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 scrollup-container center">
              <div class="scrollup center">
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
              </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="saveStateName">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close closeSaveModal" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Save state</h4>
                </div>
                <div id="notLongError" class="alert alert-danger noneShow">
                  <strong>Error!</strong> Please fill in a name longer than one character
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" class="form-control" id="saveStateNameInput" placeholder="Europe, America, etc." autofocus>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default closeSaveModal" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveStateNameButton">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!-- SCRIPTS -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/d3.v3.min.js"></script>
    <script src="/js/bootstrap-select.js"></script>
    <script src="/js/moment-with-locales.min.js"></script>
    <script src="/js/bootstrap-spinner.min.js"></script>
    <script src="/js/mousehold.min.js"></script>
    <script src="/js/bootstrap-switch.min.js"></script>

    <!-- FUNCTIONS -->
    <script src="/js/functions.js"></script>
    <script src="/js/formData.js"></script>
    <script src="/js/filterData.js"></script>
    <script src="/js/countryName.js"></script>

    <!-- RAW DATA -->
    <script>datavis.data.raw = <%- data %>;</script>

    <!-- CHECKS -->
    <script src="/js/checks/check1.js"></script>
    <script src="/js/checks/check2.js"></script>
    <script src="/js/checks/check3.js"></script>
    <script src="/js/checks/check4.js"></script>
    <script src="/js/checks/check5.js"></script>
    <script src="/js/checks/check6.js"></script>

    <!-- RENDER -->
    <script src="/js/render.js"></script>

    <!-- MAIN -->
    <script src="/js/handle.js"></script>
    <script src="/js/main.js"></script>

</body>

</html>
