
<!DOCTYPE html>
<html lang="nl">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Adyen Dashboard</title>

    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="/css/font.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapeOne">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Start Bootstrap</a>
            </div>
            <div class="collapse navbar-collapse" id="navbarCollapeOne">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>ADYEN</h1>
                <hr>
                <p>Thinggsssss with data.</p>
            </div>
        </div>
    </div>

    <!-- SCRIPTS -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>

    <!-- FUNCTIONS -->
    <script src="/js/functions.js"></script>

    <!-- RAW DATA -->
    <script>datavis.data.raw = <%- data %>;</script>
    
    <!-- CHEKCS -->
    <script src="/js/checks/check1.js"></script>
    <script src="/js/checks/check2.js"></script>
    <script src="/js/checks/check3.js"></script>
    <script src="/js/checks/check4.js"></script>
    <script src="/js/checks/check5.js"></script>
    <script src="/js/checks/check6.js"></script>

    <!-- RENDER -->
    <script src="/js/render.js"></script>

    <!-- MAIN -->
    <script src="/js/main.js"></script>

</body>

</html>
